.icon-box{
height: 320px;
}

/* .section-follow span{
  margin: 0px 10px;
} */

.section-ortak h4{
  margin-bottom: 40px;
}
.ortak img{
  height: 2rem;
}

.row .input-field input:focus {
  border-bottom: 1px solid #B71C1C!important;
  box-shadow: 0 1px 0 0 #B71C1C !important
}

#textarea1:focus {
  border-bottom: 1px solid #B71C1C;
  box-shadow: 0 1px 0 0 #B71C1C;
}
